<section class="footer-component">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Logo</h2>
        <p>
            Donec id elit non mi porta gravida at
            eget metus. Fusce dapibus, tellus ac
            cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa
            justo sit amet risus. Etiam porta sem
            malesuada magna mollis euismod.
            Donec sed odio dui.
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Contact rapide</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Votre message..."></textarea>
        </div>
        <button type="submit" class="btn btn-default pull-right">Envoyer</button>
    </div>
</section>
<footer>
    <p>Copyright © 2016 WeCommerce. Tous droits réservés.</p>
</footer>