<section class="home">
    <div class="home-title">
        <p>Nouveautés</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl neque, at pellentesque dui posuere nec.
        Nulla ornare venenatis tellus sit amet sollicitudin. Aliquam commodo, orci sed vulputate convallis, neque nunc
        fermentum leo, quis consequat sem lectus non diam. Cras vel aliquam mauris. Vestibulum tempor nec est eget
        tristique. Cras suscipit odio erat, id scelerisque ante pellentesque sed. Etiam auctor eros vel ipsum ornare, ut
        accumsan eros vehicula.</p>
</section>