/*
    ~ => node_modules
*/
@import '~bootstrap/dist/css/bootstrap.min.css';

.content {
  clear:both;
}

.title{
  height: 46px;
  background-color: #323232;
  margin-bottom: 20px;
  & p {
    text-align: center;
    color: #FFF;
    line-height: 46px;
  }
}